body{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
p{
  color: blue;
  &.FontRed{
    color:red;
  }
}
.horizon_content{
  display:flex;
  justify-content: space-evenly;
}